<web-app>
<servlet>
<servlet-name>feewaiver</servlet-name>
<servlet-class>TutionWaiverForm</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>feewaiver</servlet-name>
<url-pattern>/tutionwaiver</url-pattern>
</servlet-mapping>
	<welcome-file-list>
		<welcome-file> ./html/FeeWaiverForm.html </welcome-file>
	</welcome-file-list>
</web-app>